@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body */
 body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #252525;
    background: url(../images/background-image.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    height: 100vh;
 }

 /* headings */
 h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 250%;
    color: #cc0808;
    text-transform: uppercase;
    text-align: center;
 }

 h2 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: #cc0808;
    text-align: center;
 }

 /* style footer and social media icons */

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: #cc0808;
 }

 .social-links {
    padding-top: 20px;
 }

 .social-links > li {
    display: inline;
 }

 .social-links i {
    color: #ffffff;
    font-size: 160%;
    margin-left: 5%;
    margin-right: 5%;
 }

 .social-links i:hover {
    color: #a9fa27;
 }

 /* style main div containers */

 .container {
    background-color: rgba(169, 250, 39, 0.7);
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
