@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&family=Ubuntu&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

/* style body */
body {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   color: #252525;
   background: url(../images/background-image.jpg) no-repeat center center;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

 /* style heading and paragraph elements */

#logo {
   height: 20vh;
   position: relative;
   text-shadow: 0 0 4px #ffffff;
 }

h1 {
   font-family: 'Teko', sans-serif;
   font-weight: 500;
   font-size: 400%;
   width: 80%;
   text-align: center;
   color: #cc0808;
   text-transform: uppercase;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
    
}

h2 {
   font-family: 'Teko', sans-serif;
   font-weight: 500;
   font-size: 200%;
   color: #cc0808;
   text-align: center;
}

p {
   text-align: center;
   font-size: 120%;
}

/* style footer and social media icons */

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 75px;
   text-align: center;
   background-color: #cc0808;
}

.social-links {
   padding-top: 20px;
}

.social-links > li {
   display: inline;
}

.social-links i {
   color: #ffffff;
   font-size: 160%;
   margin-left: 5%;
   margin-right: 5%;
}

.social-links i:hover {
   color: #a9fa27;
}

/* style main div containers which hold the 3 stages of the quiz: introduction, quiz and results */

.container {
   background-color: rgba(169, 250, 39, 0.7);
   border-radius: 5px;
   width: 70vw;
   height: fit-content;
   padding-bottom: 6vh;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

.h2A {
   margin-top: 5%;
}

.h2B {
   margin-top: 5%
}

/* style intro-area div */

#intro-area > p {
   margin-top: 5px;
   margin-bottom: 5px;
}

.quiz-type {
   text-align: center;
   margin-top: 20px;
}

/* style quiz-area div */

#quiz {
   display: none;
}

.quiz-area {
   text-align: center;
}

.quiz-area > .options {
   display: inline-block;
   margin-top: 10px;
}

.quiz-area > p {
   margin-top: 5px;
}

/* style li containing questions answers */

 li {
   padding-bottom: 10px;
   font-size: 120%;
   text-align: left;
 }

 li:hover {
   color: #cc0808;
 }

 .click-class {
   color: #cc0808;
 }

 /* style quiz controls buttons and live score area */

.quiz-controls {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

#quiz > .score-area {
   text-align: center;
   margin-top: 30px;
}

.scores {
   display: inline-block;
   margin-left: 5%;
   margin-right: 5%;
}

#quiz > .quit {
   text-align: center;
   margin-top: 20px;
}

/* style results area */

#results-area {
   display: none;
}

#results-area > .score-area {
   text-align: center;
   margin-top: 30px;
}

#results-area > .quit {
   text-align: center;
   margin-top: 40px;
}

/* global style for buttons */

button {
   background-color: #252525;
   color: #a9fa27;
   height: 30px;
   width: 120px;
   border-radius: 4px;
   text-transform: uppercase;
}

button:hover {
   background-color: #cc0808;
}

/* style modal box */

#myModal {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   padding-top: 40vh;
   width: 100%;
   height: 100%;
   background-color: rgba(37,37,37,.3)
}

#modal-content {
   background-color: #cc0808;
   color: #ffffff;
   margin: auto;
   padding: 10px;
   border: 2px solid #ffffff;
   border-radius: 10px;
   width: fit-content;
}

#close {
   float: right;
   color: #ffffff;
   font-size: 28px;
   font-weight: bold;
}

#close:hover, #close:focus {
   color: #252525;
   text-decoration: none;
   cursor: pointer;
}

/* Media Queries */

/* For xxlarge screen from 1600px wide and up */
@media screen and (min-width: 1600px) { 

/* style h1 heading for min-width 1600px */
   
#logo {
   height: 30vh;
}
   
h1 {
   font-size: 500%;
}
   
}

/* For xxlarge screen from 1920px wide and up */
@media screen and (min-width: 1920px) { 

/* style heading and paragraph elements for min-width 1920px */

.container {
   width: 55vw;
}

h1 {
   font-size: 600%;
}

h2 {
   font-size: 300%;
}

p, .options > li {
   font-size: 150%;
}

button {
   width: 160px;
   height: 40px;
   font-size: 110%;
}

}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) { 

/* style paragraph for max-width 1200px */

p {
   font-size: 100%;
   padding-right: 10%;
   padding-left: 10%;
   }

}

/* For medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {

/* style paragraph and list items for max-width 950px */

.container {
   width: 85vw;
   height: fit-content;
   padding-bottom: 3vh;
}

/* style paragraph and list items for max-width 950px */

p {
   font-size: 100%;
   padding-right: 10%;
   padding-left: 10%;
}

li {
   font-size: 100%;
}

/* style quiz-type and score area for max-width 950px */

.quiz-type {
   text-align: center;
}

.scores {
   margin-top: 5px;
   padding: 0;
}

}

/* Media Queries */

/* For medium screens size from 600px wide and down */
@media screen and (max-width: 600px) { 

/* style logo, h1, p, li and buttons for max-width 600px */

#logo {
   height: 15vh;
}

h1 {
   font-size: 250%;
}

p {
   padding-right: 10%;
   padding-left: 10%;
   font-size: 90%;
}

li, button {
   font-size: 90%;
}

.scores {
   display: block;
   margin: 0 auto;
   margin-bottom: 4px;
}

button {
   display: block;
   margin: 0 auto;
   margin-top: 5px;
}

}

/* For small screens size from 320px wide and down */
@media screen and (max-width: 320px) {

/* style h1, h2, p, li and buttons for max-width 320px */

h1 {
   font-size: 200%;
}

h2 {
   font-size: 150%;
}

p, li {
   font-size: 75%;
}

button {
   height: 20px;
   font-size: 75%;
   display: inline;
}

/* scorea area for max-width 320px */

#quiz .score-area, #results-area .score-area {
   margin-top: 10px;
}

/* footer for max-width 320px */

footer {
   height: 12vh;
}

}
